.profile-image {
    width: 20vh;
    height: auto;
    border-radius: 20px;
}

.about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

.about-inner-div {
    display: flex;
    width: 100%;
}

.about-inner-div .left,
.about-inner-div .right {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: auto;
}


.about-div h1 {
    font-size: 3vh;
}

.about-div p {
    font-size: 2vh;
}