.App {
    height: 100%;
    min-height: 100%;

    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.content {
    width: 55vw;
    min-width: 55vw;
    margin: 0 auto;
}